* {
    margin: 0;
}

html, body {
    height: 100%;
}

body {
    background-color: rgb(188, 102, 102);
}

/**

    MENÚ LATERAL

*/

.principal-nav {
    min-width: 300px;
}

.nav {
    background-color: white;
    min-width: inherit;
    height: 100%;
}

.nav-functions {
    padding: 10px;
}

.nav-functions > a {
    text-decoration: none;
}

.nav-functions > a > li {    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.nav-functions > a :hover{
    background-color: rgba(98, 169, 190, 0.5);
}

.name {
    display: flex;
    align-items: center;
}

.name-img {
    height: 20px;
    padding-right: 10px;
}

.nav-img {
    height: 20px;
}

.nav-img {
    content: url("..//imgs/flecha-menu.png");
}

/********/

.intro {
    display: grid;
    place-content: center;
    text-align: center;
    padding-top: 5%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.wrapper {
    display: flex; 
    flex-wrap: nowrap; 
    justify-content: center;
    height: 100%;
}

.middle-box {
    background-color: rgb(244, 201, 201) !important;
    width:300px;
    border-radius: 100px;
    padding: 50px;
    margin: 30px;
}

.intro-description {
    margin: 10px;
    border-bottom: 1px solid black;
}

.name-description {
    margin: inherit;
    text-align: center !important;
}

.description {
    margin: inherit;
    text-align: justify;
}

.btn {
    margin-top: inherit;
    border-radius: 10px;
    font-size: 30px;
    width: 100%;
    color: white;
    margin-bottom: 10px;
    cursor: pointer;
    background-color: navy;
}

.btn:focus {
    box-shadow: none !important;
}

.btn:hover {
    background-color: indigo;
}

.input-design {
    width: 100%;
    outline: none;
    border: none;
    font-size: 18px;
}

.login-input {
    background-color: white;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 5px;
}

/**

    PRINCIPAL.JSP

*/
.app-functions {
    padding: 20px;
    display: flex; 
    justify-content: center;
    width: 100%;
}

.center-panel {
    display: flex;  
    width: fit-content; 
    background-color: white; 
    border-radius: 20px; 
    justify-content: space-around; 
    flex-wrap: wrap; 
    height: fit-content;
}

.func {
    margin: 20px; 
    background-color: rgb(255, 227, 194); 
    padding: 10px; 
    width: fit-content; 
    border-radius: 10px;
    height: fit-content;
}

.function-panel {
    display: flex;
    width: fit-content; 
    color: navy; 
    text-decoration: none;
    align-items: center;
    flex-direction: column;
    max-width: 150px;
}


.function-panel > img {
    width: 150px;
}

.function-panel > h1 {
    margin: 0; 
    font-size: inherit;
    text-align: center; 
    padding-top: 10px;
}

.func :hover{
    opacity: 80%;
}

/**

    PRINCIPAL.JSP

*/
.app-principal {
    display: flex;
    justify-content: center;
    margin: 2%;
    width: 80%;
}

.centro-principal {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin: 2%;
    width: 80%;
}

.CENTER-PRINCIPAL {
    display: flex;
    justify-content: center;
    min-width: fit-content;
    background-color: white;
    border-radius: 20px;
}

.team-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    margin-top: 10px;
    height: fit-content;
}

.select-team {
    width: 80%;
    height: 80px;
    margin: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: xx-large;
    text-align: center;
}

.select-teamBtn {
    width: 50%;
    margin-bottom: 10px;
    height: fit-content;
    border-radius: inherit; 
    cursor: pointer;
    background-color: bisque;
    border-style: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: lighter;
    font-size: 40px;
} 

.choose-team {
    width: 80%;
    height: 80px;
    margin: 10px;
    border-radius: inherit; 
    cursor: pointer;
    background-color: bisque;
    border-style: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: lighter;
    font-size: 50px;
}

.team-list :hover {
    background-color: rgb(162, 206, 212);
}

/**

    PLAYERS.JSP

*/
.player-center-panel {
    overflow: visible;
    display: flex;  
    flex-direction: column;
    width: 80%; 
    min-width: fit-content;
    background-color: white; 
    border-radius: 20px;
    align-items: center;
    height: fit-content;
    padding: 20px;
}

.players-table {
    text-align: center;
    overflow: visible;
    border: 1px solid black;
    border-collapse: collapse;
}

.players-table th {
    padding: 20px;
}

.players-table td {
    width: 200px;
    padding: 10px;
}

.players-table tr:nth-child(even) {
    background-color: rgb(255, 227, 194);
}

.btn-players {
    border-radius: 10px;
    font-size: 20px;
    margin: 10px;
    width: fit-content;
    color: white;
    cursor: pointer;
    background-color: navy;
}

.btn-players:focus {
    box-shadow: none !important;
}

.btn-players:hover {
    background-color: indigo;
}

/**

    ADDPLAYER.JSP

*/

.add-player-center-panel {
    overflow: visible;
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 80%;
    margin: 20px;
    border-radius: 20px; 
}

.add-player {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
}

.add-player-input {
    padding: 10px;
}

.add-player-input h1{
    text-align: center;
    padding: 10px;
    font-size: large;
}

.add-player-input input {
    width: 100%;
    height: 50px;
    border-radius: 30px;
    font-size: 18px;
    border: none;
    outline: 1px solid black;
    text-align: center;
}

.add-player button {
    border-radius: 10px;
    font-size: 20px;
    padding: 5px;
    margin: 10px;
    width: fit-content;
    color: white;
    cursor: pointer;
    background-color: navy;    
}

.add-player button:focus {
    box-shadow: none !important;
}

.add-player button:hover {
    background-color: indigo;
}

/**
*
*   CALENDAR.JSP
*
*/
.calendar {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 20px;
    width: 100%;
    min-height: fit-content;
}

.month-calendar {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}

.month-calendar td {
    width: 14.29%;
    padding: 10px;
    border: 1px solid black;
}

.month-calendar th {
    padding: 10px;
}

.month-calendar #calendarTitle {
    font-size: x-large;
    padding: 0;
}

.month-calendar .today {
    background-color: rgb(255, 227, 194);
}

.month-calendar .empty {
    background-color: rgb(223, 223, 223);

}

.month-calendar .event-div {
    height: 70%;
    padding: 10px;
}

.movement-button {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    font-size: 20px;
    border-color: blanchedalmond;
    cursor: pointer;
}
