* {
    margin: 0;
}

body {
    background-color: rgb(188, 102, 102);
}

/**

    MENÚ LATERAL

*/

.principal-nav {
    min-width: 300px;
}

.nav {
    background-color: white;
    min-width: inherit;
    height: 100%;
    position: absolute;
}

.nav-functions {
    padding: 10px;
}

.nav-functions > a {
    text-decoration: none;
}

.nav-functions > a > li {    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.nav-functions > a :hover{
    background-color: rgba(98, 169, 190, 0.5);
}

.name {
    display: flex;
    align-items: center;
}

.name-img {
    height: 20px;
    padding-right: 10px;
}

.nav-img {
    height: 20px;
}

.nav-img {
    content: url("..//imgs/flecha-menu.png");
}

/********/

.intro {
    display: grid;
    place-content: center;
    text-align: center;
    padding-top: 5%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.middle-box {
    background-color: rgb(244, 201, 201) !important;
    width:300px;
    border-radius: 100px;
    padding: 50px;
    margin: 30px;
}

.intro-description {
    margin: 10px;
    border-bottom: 1px solid black;
}

.name-description {
    margin: inherit;
    text-align: center !important;
}

.description {
    margin: inherit;
    text-align: justify;
}

.btn {
    margin-top: inherit;
    border-radius: 10px;
    font-size: 30px;
    width: 100%;
    color: white;
    margin-bottom: 10px;
    cursor: pointer;
    background-color: navy;
}

.btn:focus {
    box-shadow: none !important;
}

.btn:hover {
    background-color: indigo;
}

.input-design {
    width: 100%;
    outline: none;
    border: none;
    font-size: 18px;
}

.login-input {
    background-color: white;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 5px;
}

/**

    PRINCIPAL.JSP

*/
.app-functions {
    display: flex; 
    justify-content: center;
    width: 100%;
}

.center-panel {
    display: flex;  
    width: fit-content; 
    background-color: white; 
    border-radius: 20px; 
    justify-content: space-around; 
    flex-wrap: wrap; 
    margin: 40px;
}

.func {
    margin: 20px; 
    background-color: rgb(255, 227, 194); 
    padding: 10px; 
    width: fit-content; 
    border-radius: 10px;
}

.function-panel {
    display: flex;
    width: fit-content; 
    color: navy; 
    text-decoration: none;
    align-items: center;
    flex-direction: column;
    max-width: 150px;
}


.function-panel > img {
    width: 150px;
}

.function-panel > h1 {
    margin: 0; 
    font-size: inherit;
    text-align: center; 
    padding-top: 10px;
}

.func :hover{
    opacity: 80%;
}

/**

    PRINCIPAL.JSP

*/
.app-principal {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 2%;
    width: 80%;
}

.CENTER-PRINCIPAL {
    display: flex;
    justify-content: center;
    min-width: fit-content;
    background-color: white;
    border-radius: 20px;
}

.team-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    margin-top: 10px;
    height: fit-content;
}

.choose-team {
    width: 80%;
    height: 80px;
    margin: 10px;
    border-radius: inherit; 
    cursor: pointer;
    background-color: bisque;
    border-style: none;
}

.team-list :hover {
    background-color: rgb(162, 206, 212);
}